{% extends 'base.html.twig' %}
{% set totalHT = 0  %}
{% set totalTTC = 0 %}
{% set tva =0 %}





{% block title %} Panier{% endblock %}

{% block body %}

<div class="container mb-4 mt-5 pt-5">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Produit</th>
                            <th scope="col">disponibilié</th>
                            <th scope="col" class="text-center">Quantité</th>
                            <th scope="col" class="text-right">Prix unitaire</th>
                            <th scope="col" class="text-right">Total HT</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produit in produits%}
                            <tr>
                                <form action="{{path('ajouter' , {'id' : produit.id})}}" method='get'>
                                    <td><img src="{{produit.image}}" width="50" height="50" /> </td>
                                    <td>{{produit.titre}}</td>
                                    <td>In stock</td>
                                    <td>
                                    <select name="qte" class="span1" onChange="this.form.submit()" id="">
                                    {% for i in 1..10 %}
                                    <option value="{{i}}" {% if i == panier[produit.id] %} selected="selected" {% endif %}>{{i}}</option>
                                    {% endfor %}
                                    {# <a href="{{ path ('supprimer', {'id' : produit.id})}}"><i class="icoon-trash"></i></a> #}
                                    </select>
                                    </td>
                                    <td class="text-right">{{produit.prix}} €</td>
                                    <td class="text-right">{{produit.prix * panier[produit.id]}}€</td>
                                    {# <a href="{{ path ('supprimer', {'id' : produit.id})}}"><i class=" fa fa-trash"></i></a>
                                    <td class="text-right"> <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td> #}
                                    <td><a href="{{ path ('supprimer', {'id' : produit.id})}}"><i class=" fa fa-trash"></i></a></td>
                                </form>
                            </tr>
                              {% set totalHT = totalHT + (produit.prix * panier[produit.id] ) %}
                              {% set totalTTC = totalTTC + (produit.prix * panier[produit.id]) | tva (produit.tva.multiplicateur)   %}
                              

                        {% endfor %}
                        {# <tr>
                            <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                            <td>Product Name Toto</td>
                            <td>In stock</td>
                            <td><input class="form-control" type="text" value="1" /></td>
                            <td class="text-right">33,90 €</td>
                            <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                        <tr>
                            <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                            <td>Product Name Titi</td>
                            <td>In stock</td>
                            <td><input class="form-control" type="text" value="1" /></td>
                            <td class="text-right">70,00 €</td>
                            <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                        </tr> #}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total HT :</td>
                            <td class="text-right">{{totalHT}}€</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>TVA</td>
                            <td class="text-right">{{(totalTTC)-(totalHT)}} €</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total TTC:</strong></td>
                            <td class="text-right"><strong>{{totalTTC}} €</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-block btn-light">Continue Shopping</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success text-uppercase">Valider mon panier</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Informations</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                <h5>Others links</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i> My company</li>
                    <li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
                    <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                    <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
                </ul>
            </div>
            <div class="col-12 copyright mt-3">
                <p class="float-left">
                    <a href="#">Back to top</a>
                </p>
                <p class="text-right text-muted">created with <i class="fa fa-heart"></i> by <a href="https://t-php.fr/43-theme-ecommerce-bootstrap-4.html"><i>t-php</i></a> | <span>v. 1.0</span></p>
            </div>
        </div>
    </div>
{% endblock %}
