{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}
{% block body %}
    <div>
        <h1>Votre Panier</h1>
    </div>

    {% if items |length > 0 %}
        <table class="table col-md-10 text-right">
            <thead>
                <tr>
                    <th></th>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td><img style="width: 10vw;" class="img-responsive" src="{{ item.product.image }}" alt=""></td>
                        <td><a href="/categories/{{ item.product.id }}">{{ item.product.titre }}</a></td>
                                <td>
                                    <form action="{{ path('cart_modif', {'id' : item.product.id}) }}"> 
                                        {# <select name="quantity" class="" id="inlineFormCustomSelect">
                                            <option selected> {{ item.quantity }}</option>
                                            {% set numberItems = item.product.quantity %}

                                            {% if numberItems <= 10 %}
                                             {% for i in 1..item.product.quantity %}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endfor %}
                                            {% else %}
                                                 {% for i in 1..10 %}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endfor %}
                                            {% endif %}
                                           
                                            
                                        </select> #}
                                        <select name="quantity" class="span1" onChange="this.form.submit()" id="">
                                        {% for i in 1..10 %}
                                        <option value="{{i}}" {% if i == item.quantity %} selected="selected" {% endif %}>{{i}}</option>
                                        {% endfor %}
                                        </select>
                                        {# <button type="submit" class="btn btn-dark btn-sm">Modifier</button> #}
                                    </form> 
                                </td>
                        <td>{{ item.product.prix * item.quantity }} €</td>
                        <td>
                            <a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4" class="text-right">Total : 
                    </th>
                    <th>{{ total }} €</th>
                    <th></th>
                </tr>

            </tfoot>
        </table>
                <a href="{{ path ('command') }}" type="button" class="btn btn-primary btn-block">Valider la commande sur votre écran 21/9</a>
    {% else %}
        <div>
            <h1>Votre Panier est vide !</h1>
        </div>
    {% endif %}
{% endblock %}