{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}
{% block body %}
    <div>
        <h1>Votre Panier</h1>
    </div>

    {% if items |length > 0 %}
        <table class="table col-md-10 text-right">
            <thead>
                <tr>
                    <th></th>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td><img style="width: 10vw;" class="img-responsive" src="{{ item.product.image }}" alt=""></td>
                        <td><a href="/categories/{{ item.product.id }}">{{ item.product.titre }}</a></td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.prix * item.quantity }} €</td>
                        <td>
                            <a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4" class="text-right">Total : 
                    </th>
                    <th>{{ total }} €</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <div>
            <h1>Votre Panier est vide !</h1>
        </div>
    {% endif %}
{% endblock %}