{% extends 'base.html.twig' %}

{% block title %}Acs commerce!{% endblock %}


{% block body %}



{# <div class="global">
    <div class="row  ">
                     
      {% for produit in produits %}

      <div class="col-lg-4 col-md-6 mt-5 mb-5">
        <div class="card h-100">
          <a href="{{path('show',{'id':produit.id})}}"><img class="card-img-top w-100 h-100" src="{{produit.image}}"  alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{path('show',{'id':produit.id})}}">{{produit.titre}}</a>
            </h4>
            <h5>{{produit.formatedPrice}}£</h5>
            <p class="card-text">{{produit.description}}</p>
          </div>
          {# <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div> #}
        {# </div> #}
      {# </div> #}
        {# {% endfor %} #}
    {# </div>    #}
{# </div> #} 

<div class="global">
 

  <!-- Page Content -->
    <div class="row">

    {{ render(controller("App\\Controller\\CategoriesController::index")) }}
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">


        <div class="row mt-5">
          {% for produit in produits %}

            <div class="col-lg-4 col-md-6 mb-4 ">
              <div class="card h-100">
                <a href="{{path('show',{'id':produit.id})}}"><img class="card-img-top" src="{{produit.image}}" width='300' height='250' alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{{path('show',{'id':produit.id})}}">{{produit.titre}}</a>
                  </h4>
                  <h5>{{produit.formatedPrice | tva (produit.tva.multiplicateur) }} £</h5>
                  <p class="card-text">{{produit.description}}}}</p>
                </div>

                <form action="panier.php">
                <select name="qte" class="spanl"></select>
                
                </form>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
                 {# <a href="{{path ('ajouter', {'id' : produit.id}) }}" class="btn btn-success">Ajouter au panier></a> #}
              </div>
            </div>

          {% endfor %}
          

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-4 bg-dark ">

    <div class='row'>
    
     <div class='col-lg-4 foot'>
        <p class=" text-white"> Informations</p>
        <div class="list-group">
         <a href="">CGU</a>
         <a href="">Mentions légales</a>
        </div>
      </div>

      <div class='col-lg-4 foot'>
        <p class="text-white">Copyright &copy; Groupe Acs {{ "now"|date('Y') }}</p>
      </div>

      <div class='col-lg-4 foot'>
        <p class=" text-white">Nous contacter</p>
        <div class="list-group">
         <a href="">Tel</a>
         <a href="">Fax</a>
        </div>
      </div>


    </div>
   
    <!-- /.container -->
  </footer>
</div>





{% endblock %}
