{% extends 'base.html.twig' %}

{% block title %}Acs commerce!{% endblock %}


{% block body %}



{# <div class="global">
    <div class="row  ">
                     
      {% for produit in produits %}

      <div class="col-lg-4 col-md-6 mt-5 mb-5">
        <div class="card h-100">
          <a href="{{path('show',{'id':produit.id})}}"><img class="card-img-top w-100 h-100" src="{{produit.image}}"  alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{path('show',{'id':produit.id})}}">{{produit.titre}}</a>
            </h4>
            <h5>{{produit.formatedPrice}}£</h5>
            <p class="card-text">{{produit.description}}</p>
          </div>
          {# <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div> #}
        {# </div> #}
      {# </div> #}
        {# {% endfor %} #}
    {# </div>    #}
{# </div> #} 


<div class="global pt-5 mt-5">
 

  <!-- Page Content -->
    <div class="d-flex flex-wrap">

    {{ render(controller("App\\Controller\\CategoriesController::index")) }}
     
      <!-- /.col-lg-3 -->

      <div class="col-md-8 position-relative offset-md-2 mt-4">


        <div class="row mt-5">
          {% for produit in produits %}

            <div class="col-lg-4 col-md-6 mb-4 ">
              <div class="card h-100">
                <a href="{{path('show',{'id':produit.id})}}"><img class="card-img-top" src="{{produit.image}}" width='300' height='250' alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{{path('show',{'id':produit.id})}}">{{produit.titre}}</a>
                  </h4>
                  <h5>{{produit.formatedPrice | tva (produit.tva.multiplicateur) }} €</h5>
                  <p class="card-text">{{produit.description}}</p>
                </div>

                <form action="panier.php">
                
                </form>
                    <a href="{{path('show',{'id':produit.id})}}" class="btn btn-promary">Plus d'infos</a>
              
                {# {% if panier[produit.id] is not defined  %} #}
                <a href="{{path('cart_add',{'id' :produit.id})}}" class="btn btn-success">Ajouter au panier></a>
                {# {% else %} #}
                  {# <a href="{{path ('panier')}}" class="btn btn-primary">Le produit est déja dans votre panier</a>               #}
                {# {% endif %}     #}
              </div>
            </div>

          {% endfor %}{% for produit in produits %}

            <div class="col-lg-4 col-md-6 mb-4 ">
              <div class="card h-100">
                <a href="{{path('show',{'id':produit.id})}}"><img class="card-img-top" src="{{produit.image}}" width='300' height='250' alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{{path('show',{'id':produit.id})}}">{{produit.titre}}</a>
                  </h4>
                  <h5>{{produit.formatedPrice | tva (produit.tva.multiplicateur) }} £</h5>
                  <p class="card-text">{{produit.description}}}}</p>
                </div>

                <form action="panier.php">
                
                </form>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
                    <a href="{{path('show',{'id':produit.id})}}" class="btn btn-promary">Plus d'infos</a>
              
                {# {% if panier[produit.id] is not defined  %} #}
                <a href="{{path('cart_add',{'id' :produit.id})}}" class="btn btn-success">Ajouter au panier></a>
                {# {% else %} #}
                  {# <a href="{{path ('panier')}}" class="btn btn-primary">Le produit est déja dans votre panier</a>               #}
                {# {% endif %}     #}
              </div>
            </div>

          {% endfor %}
          

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  
  <!-- /.container -->
  {# <div>
   {% for prout in cart %}
        <p> {{ prout.product }} </p>
        <p> {{ prout.quantity }} </p>
        <p> {{ prout.product.prix }} </p>

    {% endfor %}
  </div> #}
</div>

{# ///////////////////////////////////////////////////////////////////////////// #}



{% endblock %}
