{% extends 'base.html.twig' %}

{% block title %}Hello CategoriesController!{% endblock %}

{% block body %}

 

    <div class="col-lg-2">

        <h1 class="my-4">Shop Name</h1>
        <div class="list-group">
            {% for categorie in categories %}
                <a href=" {{ path('categorieproduits', {'categorie' : categorie.id}) }}" class="list-group-item">{{categorie.nom}}</a>
            {% endfor %}
               
        </div> 

    </div>
    <div class="col-lg-2 offset-lg-8">

        <h1 class="my-4">Shop Name</h1>
        {# <div class="list-group">
            {% for item in cart %}
                <p> {{ item.product }} </p>
                <p> {{ item.quantity }} </p>
                <p> {{ item.product.prix }} </p>

            {% endfor %}
               
        </div>  #}

        <div class="list-group">
            {% for item in cart %}

            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">x {{ item.quantity }}</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
            </a>

            {% endfor %}
        </div>
    </div>
    
    
          
{% endblock %}
