
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Acs commerce!{% endblock %}</title>
        <meta name="keywords" content="{% block motsCles %}{% endblock %}"/>
        <meta name="description" content="{% block description %}{% endblock %}"/>
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        {% block stylesheets %} {{ encore_entry_link_tags('app') }} {% endblock %}
    </head>
    
    <body>
      <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{{path('produits')}}">ACS SHOP</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{path('produits')}}">Home  
                            <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('about')}}">A propos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cart">Panier</a>
                        </li> #}
                        <li class="nav-item">
                            <a class="nav-link " href="{{path('security_register')}}">Inscription</a>
                        </li>

                        {% if not app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('security_login')}}">Connexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('security_logout')}}">Déconnexion</a>
                            </li>
                        {% endif %}
                         <li class="nav-item">
                            <a class="nav-link" href="{{path('panier')}}">Panier</a>
                            {{ render(controller("App\\Controller\\PanierController::menuAction")) }}

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
 
        {% block javascripts %}
        
         {# {{ encore_entry_script_tags('home') }} #}

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        {% endblock %}
               <!-- Footer -->
        <footer class="py-4 bg-dark footer " style="position: relative; bottom: 0; right: 0; left: 0; top:50vh;">
            <div class='d-flex flex-wrap'>
            
                <div class='col-lg-4 foot'>
                    <p class=" text-white"> Informations</p>
                    <div class="list-group">
                    <a href="">CGU</a>
                    <a href="">Mentions légales</a>
                    </div>
                </div>

                <div class='col-lg-4 foot'>
                    <p class="text-white">Copyright &copy; Groupe Acs {{ "now"|date('Y') }}</p>
                </div>

                <div class='col-lg-4 foot'>
                    <p class=" text-white">Nous contacter</p>
                    <div class="list-group">
                    <a href="">Tel</a>
                    <a href="">Fax</a>
                    </div>
                </div>


            </div>
        
            <!-- /.container -->
        </footer>
    </body>
    
</html>
